openapi: 3.2.0
info:
  title: Ensighten Manage GIT API
  version: 1.0.0
  description: 'This is the REST Manage API that can be used by Ensighten Manage customers.


    There are currently two ways to authenticate through the Manage API: API Key and Username / Password.


    All API requests must be made over HTTPS. Calls made over plain HTTP will fail. You must authenticate for all requests.


    Supported Entities


    -

    Spaces


    -

    Publish Paths


    -

    Deployments


    -

    Conditions


    -

    Data Definitions


    -

    Event Definitions


    -

    Users


    -

    Roles


    -

    SCIM 2.0


    -

    Git


    -

    TDN'
  contact:
    name: Ensighten Support
    url: https://help.ensighten.com/hc/en-us
  x-derived-from: API Blueprint published by Ensighten at https://manageexternalapi.docs.apiary.io/
  x-blueprint-last-updated: '2026-07-14T18:41:23.848Z'
servers:
- url: https://manage-api.ensighten.com
  description: Production (from the Apiary blueprint urls.production)
- url: https://private-anon-6a32b48ac3-manageexternalapi.apiary-mock.com
  description: Apiary anonymous mock server (example payloads only)
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Git
  description: 'Operations specific to Git enabled spaces.


    Git specific fields


    Field

    Description

    Valid Values


    commitId

    Commit ID

    A SHA-1 hash, 40 characters long'
paths:
  /manage/git/commit/status/{commitId}:
    get:
      operationId: getManageGitCommitStatusCommitid
      summary: Get commit status
      tags:
      - Git
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      parameters:
      - name: commitId
        in: path
        required: true
        description: commitId path parameter
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: COMMIT COMPLETE
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key created in the Admin > API Keys page of Manage. Keys are prefixed 'ens_'. Not accepted on /auth/token.
    BearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from POST /auth/token (OAuth 2.0 Resource Owner Password Credentials flow).
    OAuth2Password:
      type: oauth2
      flows:
        password:
          tokenUrl: https://manage-api.ensighten.com/auth/token
          scopes: {}
      description: Resource Owner Password Credentials flow. No OAuth scopes are documented; authorization is governed by Manage Roles assigned to the user or API Key.
