openapi: 3.2.0
info:
  title: Ensighten Manage TDN API
  version: 1.0.0
  description: "This is the REST Manage API that can be used by Ensighten Manage customers.\n\n\nThere are currently two ways to authenticate through the Manage API: API Key and Username / Password.\n\n\nAll API requests must be made over HTTPS. Calls made over plain HTTP will fail. You must authenticate for all requests.\n\n\nSupported Entities\n\n- \nSpaces\n\n\n\n\n- \nPublish Paths\n\n\n\n\n- \nDeployments\n\n\n\n\n- \nConditions\n\n\n\n\n- \nData Definitions\n\n\n\n\n- \nEvent Definitions\n\n\n\n\n- \nUsers\n\n\n\n\n- \nRoles\n\n\n\n\n- \nSCIM 2.0\n\n\n\n\n- \nGit\n\n\n\n\n- \nTDN"
  contact:
    name: Ensighten Support
    url: https://help.ensighten.com/hc/en-us
  x-derived-from: API Blueprint published by Ensighten at https://manageexternalapi.docs.apiary.io/
  x-blueprint-last-updated: '2026-07-14T18:41:23.848Z'
servers:
- url: https://manage-api.ensighten.com
  description: Production (from the Apiary blueprint urls.production)
- url: https://private-anon-6a32b48ac3-manageexternalapi.apiary-mock.com
  description: Apiary anonymous mock server (example payloads only)
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: TDN
  description: "Retrieve TDN job information\n\n\nJSON Schema\nConforms to JSON schema draft v4 specifications\n\n\n{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"description\": \"Get job response\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"id\": {\n            \"type\": \"string\"\n        },\n        \"version\": {\n            \"type\": \"integer\"\n        },\n        \"user\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"id\": {\n                    \"type\": \"integer\"\n                },\n                \"name\": {\n                    \"type\": \"string\"\n                }\n            },\n            \"required\": [\n                \"id\",\n                \"name\"\n            ]\n        },\n        \"space\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"id\": {\n                    \"type\": \"integer\"\n                },\n                \"name\": {\n               "
paths:
  /manage/tdn/jobs:
    get:
      operationId: getManageTdnJobs
      summary: List jobs
      tags:
      - TDN
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      parameters:
      - name: completed
        in: query
        required: false
        description: Includes completed jobs, default to false.
        schema:
          type: boolean
        example: 'true'
      - name: size
        in: query
        required: false
        description: Limit the per page results, defaults to 100
        schema:
          type: number
        example: '1'
      - name: page
        in: query
        required: false
        description: Results page you want to retrieve (0..N).
        schema:
          type: number
        example: '0'
      - name: sort
        in: query
        required: false
        description: Sort the resulting jobs by the given field name. Acceptable field names are 'createdDate', 'endDate', 'id', 'startDate', 'status' and 'type'. A '-' prefix indicates sort in descending order. By default we sort by id in ascending order.
        schema:
          type: string
        example: +id
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                jobs:
                - createdDate: string
                  endDate: string
                  id: string
                  space:
                    id: 0
                    name: string
                  startDate: string
                  status: RUNNING
                  type: PUBLISH
                  user:
                    id: 0
                    name: string
                  version: 0
                totalElements: 0
                totalPages: 0
  /manage/tdn/jobs/{id}:
    get:
      operationId: getManageTdnJobsId
      summary: Get a job by id
      tags:
      - TDN
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Numeric id of the job id to retrieve.
        schema:
          type: number
        example: '1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                createdDate: string
                endDate: string
                id: string
                space:
                  id: 0
                  name: string
                startDate: string
                status: RUNNING
                type: PUBLISH
                user:
                  id: 0
                  name: string
                version: 0
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key created in the Admin > API Keys page of Manage. Keys are prefixed 'ens_'. Not accepted on /auth/token.
    BearerAuth:
      type: http
      scheme: bearer
      description: Access token obtained from POST /auth/token (OAuth 2.0 Resource Owner Password Credentials flow).
    OAuth2Password:
      type: oauth2
      flows:
        password:
          tokenUrl: https://manage-api.ensighten.com/auth/token
          scopes: {}
      description: Resource Owner Password Credentials flow. No OAuth scopes are documented; authorization is governed by Manage Roles assigned to the user or API Key.
